<style>
    .navbar .navbar-nav .nav-item.active {
        background-color: #89b8ea;
        border-radius: 10px;
    }
</style>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item <%= pageName=='home' ? 'active' : ''%>">
                    <a class="nav-link" href="/">Home </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        飯粒
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/try-post-form">try-post-form</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <li class="nav-item <%= pageName=='address-book-list' ? 'active' : '' %>">
                    <a class="nav-link" href="/address-book/list">address-book list</a>
                </li>
                <li class="nav-item <%= pageName=='address-book-add' ? 'active' : '' %>">
                    <a class="nav-link" href="/address-book/add">address-book add</a>
                </li>

                <li class="nav-item <%= pageName=='address-book-tedious-list' ? 'active' : '' %>">
                    <a class="nav-link" href="/address-book-tedious/list">address-book-tedious list</a>
                </li>
                <li class="nav-item <%= pageName=='address-book-tedious-add' ? 'active' : '' %>">
                    <a class="nav-link" href="/address-book-tedious/add">address-book-tedious add</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <% if(sess.adminUser && sess.adminUser.account){ %>
                    <li class="nav-item">
                        <a class="nav-link"><%= sess.adminUser.nickname %></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/address-book/logout">登出</a>
                    </li>
                <% } else { %>
                    <li class="nav-item">
                        <a class="nav-link" href="/address-book/login">登入</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/address-book/register">註冊</a>
                    </li>
                <% } %>

            </ul>
        </div>
    </div>
</nav>
